<!DOCTYPE html>
<html>
  <head>
    <title>EdPlatform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-black text-white">
    <header class="flex container py-4 mx-auto w-full border-b-white border-b items-center">
      <div class="mx-auto w-full">
        <h1 class="text-3xl"><%=link_to 'EdPlatform', root_path %></h1>
      </div>

      <div>
        <div class="mx-auto w-full">
          <% if current_user %>
            <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: 'delete'} %>
          <% else %>
            <%= link_to 'Login', new_user_session_path %>
          <% end %>
      </div>
    </header>

    <main class="container mx-auto mt-28 flex flex-col">
      <nav class="main-nav text-xs mb-4">
        <p class="text-2xl">
          <% if action_name == 'details' %>
            <%= link_to '< Back to Courses', root_path %>
          <% end %>
        <p>
        <br/>
        <% if controller_name == 'courses' %>
          <%= link_to 'Home > Courses', root_path %> 
        <% end %>
        <% if action_name == 'details' %>
        > Ruby on Rails : Master the fundamentals
        <% end %>
      </nav>
      <% if controller_name == 'devise' %>
        <div class="container mx-auto text-center">
      <% end %>
        <%= yield %>
         <% if controller_name == 'devise' %>
          </div>
        <% end %>
    </main>
  </body>
</html>
