<!DOCTYPE html>
<html>
  <head>
    <title>EdPlatform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-black text-white">
    <header class="container py-4 mx-auto w-full border-b-white border-b">
      <div class="mx-auto w-full">
        <h1 class="text-3xl"><%=link_to 'EdPlatform', root_path %></h1>
      </div>
    </header>

    <main class="container mx-auto mt-28 flex flex-col">
     <div class="mx-auto">
            <%= yield %>
        </div>
    </main>
  </body>
</html>